<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm Inventory</title>
    <link rel="stylesheet" href="/headers.css">
    <link rel="stylesheet" href="/inventory.css">

</head>
<body>
    <h1>Farm Inventory</h1>
    <%- include("partials/header") %>

    <form action="/addItem" method="POST">
        <label for="item-name">Farm Item</label>
        <input type="text" name="item-name" placeholder="Shovel" required>
        
        <label for="created-by">Created by</label>
        <input type="text" name="created-by" placeholder="Tony" required>

        <button type="submit">Submit</button>
    </form>

    <div class="inventory_items">
        <ul>
            <% if (Array.isArray(items) && items.length > 0) { %>
                <% items.forEach(item => { %>
                    <li>
                        ID: <%= item.id %>, 
                        Item: <%= item.name %>, 
                        Created by: <%= item.creator %>
                        <form action="/deleteItem" method="POST">
                            <input type="hidden" name="id" value="<%= item.id %>">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                <% }); %>
            <% } else { %>
                <li>No items in inventory.</li>
            <% } %>
        </ul>
        
    </div>
</body>
</html>